<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891129525885-kma6vrupmhs77lbacau06aqa84t1en3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891129525885-kma6vrupmhs77lbacau06aqa84t1en3p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891129525885-0dsfeb30c84d1o171kcfop43iigpb5l2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDV2Y3Nmvl1e_YG3dcuaXG3tUy_3tmzlvU</string>
	<key>GCM_SENDER_ID</key>
	<string>891129525885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parcelyou.parcelYouDriversApp</string>
	<key>PROJECT_ID</key>
	<string>parcelyou-e2594</string>
	<key>STORAGE_BUCKET</key>
	<string>parcelyou-e2594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891129525885:ios:bd920edd0be3b0f73e6314</string>
	<key>DATABASE_URL</key>
	<string>https://parcelyou-e2594-default-rtdb.firebaseio.com</string>
</dict>
</plist>